// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple iPhone 5S common device tree
 * Based on A7 (APL0698), up to 1.3GHz
 *
 * Copyright (c) 2022, Konrad Dybcio <konrad.dybcio@somainline.org>
 */

#include "s5l8960x.dtsi"

/ {
	chosen {
		framebuffer@CHANGEME {
			compatible = "simple-framebuffer";
			reg = <0x8 0x7d0e2000 0x0 (2048 * 1536 * 4)>;
			width = <1536>;
			height = <2048>;
			stride = <(1536 * 4)>;
			format = "a8b8g8r8";
		};
	};

	reserved-memory {
		framebuffer_mem: memory@CHANGEME {
			reg = <0x8 0x3e900000 0x0 (1334 * 750 * 4)>;
			no-map;
		};
	};
};

&i2c0 {
	status = "okay";

	/* Tristar MUX chip @ 1A */
	/* PMU (chestnut) for display @ 27 */
	/* PWM vibrator @ 38 */
	/* Cirrus Logic CS35L19 amp @ 40 */
	/* LM3534 backlight controller @ 63 */
	/* PMU (d2045) for Oscar, TouchID, BT, audio codec, battery, Lightning/USB, modem @ 74 */
};

&i2c1 {
	status = "okay";

	/* TSL2581 light-to-digital converter @ 29 */
};

&serial0 {
	status = "okay";
};

&serial1 {
	status = "okay";

	/* Bluetooth chip */
};

&serial2 {
	status = "okay";

	/* Apple Oscar sensor hub */
};

&serial3 {
	status = "okay";

	/* WLAN debug device */
};

&serial4 {
	status = "okay";

	/* Apple 'debug' device (?) */
};

&serial5 {
	status = "okay";

	/* bq27540 fuel gauge */
};

&serial6 {
	status = "okay";

	/* Apple IAP (something related to Lightning?) */
};
