// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple iPhone 5S common device tree
 * Based on A7 (APL0698), up to 1.3GHz
 *
 * Copyright (c) 2022, Konrad Dybcio <konrad.dybcio@somainline.org>
 */

#include "s5l8960x.dtsi"

/ {
	chosen {
		framebuffer@83ee00000 {
			compatible = "simple-framebuffer";
			reg = <0x8 0x3ee00000 0x0 (1136 * 640 * 4)>;
			width = <640>;
			height = <1136>;
			stride = <(640 * 4)>;
			format = "a8b8g8r8";
		};
	};

	reserved-memory {
		framebuffer_mem: memory@83ee00000 {
			reg = <0x8 0x3ee00000 0x0 (1136 * 640 * 4)>;
			no-map;
		};
	};
};
