// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple iPad Pro common device tree
 *
 * Copyright (c) 2022, Konrad Dybcio <konrad.dybcio@somainline.org>
 */

#include "s8001.dtsi"
#include <dt-bindings/input/input.h>

/ {
	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		home {
			label = "Home Button";
			gpios = <&pinctrl 122 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_LEFTMETA>;
		};

		power {
			label = "Power Button";
			gpios = <&pinctrl 123 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
		};

		volume-up {
			label = "Volume Up";
			gpios = <&pinctrl 12 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
		};

		volume-down {
			label = "Volume Down";
			gpios = <&pinctrl 15 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
		};
	};
};

&serial0 {
	status = "okay";
};

&serial1 {
	status = "okay";

	/* BCM4773 GPS */
};

&serial2 {
	status = "okay";

	/* BCM4355 "simbaa" UART+PCIe (?) Wi-Fi */
};

&serial3 {
	status = "okay";

	/* BCM4355 HCI Bluetooth */
};

&serial4 {
	status = "okay";

	/* Apple Stockholm */
};

&serial5 {
	status = "okay";

	/* BQ27540 fuel gauge */
};

&serial6 {
	status = "okay";

	/* Apple IAP (something related to Lightning?) */
};
