// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple iPad Mini 4 common device tree
 *
 * Copyright (c) 2022, Konrad Dybcio <konrad.dybcio@somainline.org>
 */

#include "t7000.dtsi"

/ {
	chosen {
		framebuffer@87d0e2000 {
			compatible = "simple-framebuffer";
			reg = <0x8 0x7d0e2000 0x0 (2048 * 1536 * 4)>;
			width = <1536>;
			height = <2048>;
			stride = <(1536 * 4)>;
			format = "a8b8g8r8";
		};
	};

	/*
	 * iPad Mini 4 has 2GB ram.
	 * Currently PongoOs doesn't fill in the memory node, so keep it in DT.
	 */
	memory@800000000 {
		device_type = "memory";
		reg = <0x8 0xc00000 0x0 0x7c4e2000>;
	};

	reserved-memory {
		framebuffer_mem: memory@87d0e2000 {
			reg = <0x8 0x7d0e2000 0x0 (2048 * 1536 * 4)>;
			no-map;
		};
	};
};
